*{
    text-align: center;
}

section{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 21px;
}

img{
    height: 324px;
    width: 576px;
}

a{
    height: 324px;
    width: 576px;
    margin-bottom: 53px;
}
